.Rproj.user
.Rhistory
.RData
.Ruserdata
graphs and code snippets/positions.JPG
graphs and code snippets/MPG_pos.png
graphs and code snippets/models.JPG
graphs and code snippets/model_comparison.JPG
graphs and code snippets/model6.jpg
graphs and code snippets/model5.jpg
graphs and code snippets/model4.jpg
graphs and code snippets/model3.jpg
graphs and code snippets/model2.JPG
graphs and code snippets/model1.JPG
graphs and code snippets/correlation1.JPG
graphs and code snippets/Capture2.JPG
graphs and code snippets/avg_sal.png
graphs and code snippets/APG_pos.png
graphs and code snippets/3_pt_evo.png
*.png
